*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(240, 78%, 98%);
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 100%, 100% 0%;
    background-size: 18rem, 20rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.top-div h1{
    font-size: 30px;
    margin-bottom: 2.2rem;
    color: hsl(232, 13%, 33%);
}

.top-div p{
    color: hsl(234, 14%, 74%);
    font-size: 15px;
}

.toggle-div{
    display: flex;
    align-items: center;
}

.toggle{
    height: 25px;
    width: 50px;
    border-radius: 30px;
    margin: 0 15px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.toggle:hover{
    opacity: .6;
}

.toggle-ball{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    transition: transform .3s ease;
}

.toggle-ball.active{
    transform: translateX(-26px);
}

.bottom-div{
    display: flex;
    align-items: center;
}

.basic, .master{
    width: 250px;
    padding: 20px;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.basic{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.master{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.professional{
    width: 250px;
    padding: 20px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.title{
    font-size: 15px;
    color: hsl(233, 13%, 49%);
    margin-bottom: 1rem;
}

.bottom-div h2{
    font-size: 45px;
    display: flex;
    width: 100%;
    color: hsl(232, 13%, 33%);
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid hsl(240, 78%, 98%);
}

.bottom-div h2 span{
    font-size: 25px;
    margin-right: 5px;
}

.basic p, .master p{
    color: hsl(233, 13%, 49%);
    font-size: 15px;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid hsl(240, 78%, 98%);
}

button{
    margin-top: 1.5rem;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover{
    border: 1px solid hsl(237, 63%, 64%);
    color: hsl(237, 63%, 64%);
    background-image: unset;
    background-color: transparent;
}

.professional button{
    background-image: unset;
    color: hsl(237, 63%, 64%)
}

.professional button:hover{
    border-color: hsl(240, 78%, 98%);
    color: hsl(240, 78%, 98%);
}

.professional .title{
    color: hsl(240, 78%, 98%);
}

.professional h2{
    color: hsl(240, 78%, 98%);
    border-bottom: 2px solid hsl(236, 72%, 79%)
}

.professional p{
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid hsl(236, 72%, 79%);
}

.monthly{
    display: block;
}

.monthly.active{
    display: none;
}
.annually{
    display: block;
}

.annually.active{
    display: none;
}

footer{
    margin-top: 2rem;
}

.attribution{
    text-align: center;
    color: hsl(232, 13%, 33%);
}

.attribution a{
    color: black;
    transition: .2s;
}

.attribution a:hover{
    color: hsl(237, 63%, 64%);
}


/*--------for small screen------*/

@media screen and (max-width: 900px){
    body{
        height: auto;
        padding: 2rem 0;
    }

    .bottom-div{
        display: block;
    }

    .basic, .master{
        border-radius: 10px;
    }

    .professional{
        margin: 2rem 0;
    }

    .attribution{
        font-size: 12px;
    }
}

